<div id='repair-content'>
    <!-- Информация о доме -->
    <h4><%=address%></h4>
    <ul class='nav nav-tabs'>
        <li class='active'><a data-toggle='tab' href='#menu1'>Паспорт объекта</a></li>
        <li><a data-toggle='tab' href='#menu2'>Планируемый ремонт</a></li>
        <li><a data-toggle='tab' href='#menu3'>Способ накопления</a></li>
    </ul>
    <!-- Табы - паспорт дома -->
    <div class='tab-content'>
        <div id='menu1' class='tab-pane fade in active'>
            <%if (repair_date_start > 100) {%>
            <label for='year'>Год постройки</label>
            <p id='year'><%=build_year%></p>
            <%}%>
            <%if (repair_date_start < 100) {%>
            <label for='year'>Год постройки</label>
            <p id='year'>Нет информации</p>
            <%}%>
            <hr>
            <%if (repair_date_start > 100) {%>
            <label for='year'>Дата постановки на ремонт</label>
            <p id='year'><%=repair_date_start%></p>
            <%}%>
            <%if (repair_date_start < 100) {%>
            <label for='year'>Дата постановки на ремонт</label>
            <p id='year'>Нет информации</p>
            <%}%>
            <hr>
            <%if (planning_repairment_start > 100) {%>
            <label for='repair-period'>Период планируемого ремонта</label>
            <p id='repair-period'><%=planning_repairment_start%>-<%=planning_repairment_end%></p>
            <%}%>
            <%if (planning_repairment_start < 100) {%>
            <label for='repair-period'>Период планируемого ремонта</label>
            <p id='repair-period'>Нет информации</p>
            <%}%>
        </div>
        <div id='menu2' class='tab-pane fade'>
            <table class='table'>
                <thead>
                <tr>
                    <th>Вид ремонта</th>
                    <th>Год ранее проведенного ремонта</th>
                    <th>Год планируемого ремонта</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Ремонт сетей электроснабжения</td>
                    <%if (last_electro > 100) {%>
                    <td><%=last_electro%></td>
                    <%}%>
                    <%if (last_electro < 100) {%>
                    <td>Нет информации</td>
                    <%}%>
                    <%if (last_electro > 100) {%>
                    <td><%=future_electro_start%>-<%=future_electro_end%></td>
                    <%}%>
                    <%if (last_electro < 100) {%>
                    <td>Нет информации</td>
                    <%}%>
                </tr>
                <tr>
                    <td>Ремонт сетей теплоснабжения</td>
                    <%if (last_warm > 100) {%>
                    <td><%=last_warm%></td>
                    <%}%>
                    <%if (last_warm < 100) {%>
                    <td>Нет информации</td>
                    <%}%>
                    <%if (future_warm_end > 100) {%>
                    <td><%=future_warm_start%>-<%=future_warm_end%></td>
                    <%}%>
                    <%if (future_warm_end < 100) {%>
                    <td>Нет информации</td>
                    <%}%>
                </tr>
                <tr>
                    <td>Ремонт сетей газоснабжения</td>
                    <%if (last_gaz > 100) {%>
                    <td><%=last_gaz%></td>
                    <%}%>
                    <%if (last_gaz < 100) {%>
                    <td>Нет информации</td>
                    <%}%>
                    <%if (future_gaz_start > 100) {%>
                    <td><%=future_gaz_start%>-<%=future_gaz_end%></td>
                    <%}%>
                    <%if (future_gaz_start < 100) {%>
                    <td>Нет информации</td>
                    <%}%>
                </tr>
                <tr>
                    <td>Ремонт сетей водооснабжения</td>
                    <%if (last_water > 100) {%>
                    <td><%=last_water%></td>
                    <%}%>
                    <%if (last_water < 100) {%>
                    <td>Нет информации</td>
                    <%}%>
                    <%if (future_water_start > 100) {%>
                    <td><%=future_water_start%>-<%=future_water_end%></td>
                    <%}%>
                    <%if (future_water_start < 100) {%>
                    <td>Нет информации</td>
                    <%}%>
                </tr>
                </tbody>
            </table>
        </div>
        <div id='menu3' class='tab-pane fade'>
            <label for='accumulation'>Способ накопления</label>
            <p id='accumulation'>Счет регионального оператора</p>
            <hr>
            <p>Начисления, руб. за период [01.01.2014-01.09.2017]</p>
            <div class="inline">
                <label for='accelerated'>Начислено</label>
                <p id='accelerated'>941765.93</p>
                <label for='paid'>Оплачено</label>
                <p id='paid'>941765.93</p>
            </div>
        </div>
    </div><!-- Табы - паспорт дома -->
</div>
<script> $('[data-toggle="tab"]').click(function (e) {
        console.log("click")
        e.preventDefault();
        $(this).tab('show')
    });</script>
