<title><%= title %></title>


<!--For old platforms uncomment it-->
<!--<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList"></script>--><!---->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!--Bootstrap stylesheet-->
<link href="/stylesheets/css/m-css/m-bootstrap.min.css" rel="stylesheet">
<!--Material bootstrap stylesheet-->
<link href="css/m-css/m-mdb.min.css" rel="stylesheet">
<!--Custom stylesheet-->
<link rel="stylesheet" href="/stylesheets/css/m-css/material_style.css" />

<!--Map stylesheets-->
<link href="/stylesheets/css/ol.css">
<link href="/stylesheets/css/map.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/css/ol3-layerswitcher.css" />



<!--Bootstrap scripts-->
<!-- SCRIPTS -->
<!--JQuery-->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="javascripts/m-js/m-popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="javascripts/m-js/m-bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="javascripts/m-js/m-mdb.min.js"></script>


<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>-->


<!--For old platforms uncomment it-->
<!--<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList"></script>-->


<!--<link href="/stylesheets/css/map.css" rel="stylesheet">-->
<!--TODO: Поправить ссылки на шрифты, т.к. не грузятся правильные с гугла (https://github.com/klokantech/klokantech-gl-fonts)-->
<!--<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans" />-->
<!--<link rel="stylesheet" type="text/css" href="/stylesheets/fonts/KlokanTechNotoSans-Regular.ttf" />-->

<!--Use only one of ol.js: ol-debug.js for debugging, ol.js for production-->
<!--<script type="text/javascript" src="https://openlayers.org/en/v3.5.0/build/ol.js"></script>-->

<!--<script type="text/javascript" src="https://openlayers.org/en/v4.5.0/build/ol-debug.js"></script>-->
<script type="text/javascript" src="/javascripts/openlayers/ol-debug.js"/>

<!--Required for styling the map-->

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.3.1/ol.js"></script>-->

<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch,Promise"></script>

<script type="text/javascript" src="/javascripts/olStylesDefinition.js"></script>
<script type="text/javascript" src="/javascripts/layersDefinition.js"></script>
<script src="/javascripts/olms.js"></script>
<script type="text/javascript" src="/javascripts/colorizing.js"></script>
<script type="text/javascript" src="/javascripts/map.js"></script>
<script src="/javascripts/ol3-layerswitcher.js"></script>




<!--============================jQuery UI==============================-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style>
    .ui-autocomplete {
        max-height: 150px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
    /* IE 6 doesn't support max-height
     * we use height instead, but this forces the menu to always be this tall
     */
    * html .ui-autocomplete {
        height: 150px;
    }
</style>

<!--Use only one of ol.js: ol-debug.js for debugging, ol.js for production-->
<!--<script type="text/javascript" src="https://openlayers.org/en/v4.4.2/build/ol.js"></script>-->
<!--<script type="text/javascript" src="https://openlayers.org/en/v4.4.2/build/ol-debug.js"></script>-->

<!--<script type="text/javascript" src="/javascripts/map.js"></script>-->

<!-- JQuery -->