<script src="./javascripts/Chart.js"></script>
<h5 id="title">Результаты поиска по запросу: <%=title%></h5>
<%if (people != null) {%>
<!--------------------Население---------------------------->
<div class="info">
    <h3 class="concrete-numbers"> <%=people%> </h3>
    <h5 class="info-group"> Население, чел. </h5>
</div>
<hr>
<%}%>
<%if (area != null) {%>
<!--------------------Площадь---------------------------->
<div class="info">
    <h3 class="concrete-numbers"> <%=area%> </h3>
    <h5 class="info-group"> Площадь, кв.км.</h5>
</div>
<hr>
<%}%>
<!--------------------Плотность населения---------------------------->
<div class="info">
    <%if (locals.density != 'NaN') {%>
    <h3 class="concrete-numbers"> <%=locals.density%> </h3>
    <h5 class="info-group">Плотность населения, чел/кв.км</h5>

</div>
<hr>
<%}%>
<!--------------------Статистика---------------------------->
<div class="info">
    <button id="open-stat" data-toggle="modal" data-target="#stat-modal">Подробная статистика</button>
</div>

<!--======================================= Модальное окно статистики ==========================================-->
<div class="modal fade custom-modal" id="stat-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="loginmodal-container col-sm-offset-4 col-sm-4">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<!--======================== Модальное окно статистики ========================-->

<script>
    $("#search-address").keyup(function(event) {
        if (event.keyCode === 13) {
            $("#search-btn").click();
        }
    });

    $("#top-left").ready(function() {
        // call the function after the element has been loaded here
        console.log("Search address have been loaded!");
        autocomplete('#search-address', '#hiddenData');
    });

    /*-------------------------Диаграмма-------------------------*/

    var years = ["1900", "1910", "1920", "1930", "1940", "1950", "1960", "1970", "1990", "2000"]
    var number_of_houses = ["45", "38","12","65","43","29","33","45","31","40",]


    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: years,
            datasets: [{
                label: 'Количество многоквартирных домов',
                data: number_of_houses,
                backgroundColor:
                    'rgba(47, 162, 78, 0.5)'
                ,
                borderColor:
                    'rgba(102, 255, 51, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>