<title><%= title %></title>


<!--For old platforms uncomment it-->
<!--<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList"></script>-->

<link href="/stylesheets/css/ol.css">
<link href="/stylesheets/css/map.css" rel="stylesheet">
<meta charset="UTF-8">



<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="/stylesheets/css/bootstrap.css" rel="stylesheet">
<!--<link href="/stylesheets/css/style.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/css/login_style.css" rel="stylesheet" type="text/css">-->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/css/ol3-layerswitcher.css" />
<!--bootstrap scripts-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="/javascripts/properties.js"></script>

<!--For old platforms uncomment it-->
<!--<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList"></script>-->


<!--<link href="/stylesheets/css/map.css" rel="stylesheet">-->
<!--TODO: Поправить ссылки на шрифты, т.к. не грузятся правильные с гугла (https://github.com/klokantech/klokantech-gl-fonts)-->
<!--<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans" />-->
<!--<link rel="stylesheet" type="text/css" href="/stylesheets/fonts/KlokanTechNotoSans-Regular.ttf" />-->

<!--Use only one of ol.js: ol-debug.js for debugging, ol.js for production-->
<!--<script type="text/javascript" src="https://openlayers.org/en/v3.5.0/build/ol.js"></script>-->

<!--<script type="text/javascript" src="https://openlayers.org/en/v4.5.0/build/ol-debug.js"></script>-->
<script type="text/javascript" src="/javascripts/openlayers/ol-debug.js"/>

<!--Required for styling the map-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.3.1/ol.js"></script>-->


<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch,Promise"></script>


<script type="text/javascript" src="/javascripts/olStylesDefinition.js"></script>
<script type="text/javascript" src="/javascripts/layersDefinition.js"></script>
<script src="/javascripts/olms.js"></script>
<script type="text/javascript" src="/javascripts/colorizing.js"></script>
<script type="text/javascript" src="/javascripts/map.js"></script>
<script src="/javascripts/ol3-layerswitcher.js"></script>




<!--============================jQuery UI==============================-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style>
    .ui-autocomplete {
        max-height: 150px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }
    /* IE 6 doesn't support max-height
     * we use height instead, but this forces the menu to always be this tall
     */
    * html .ui-autocomplete {
        height: 150px;
    }
</style>

<!--Use only one of ol.js: ol-debug.js for debugging, ol.js for production-->
<!--<script type="text/javascript" src="https://openlayers.org/en/v4.4.2/build/ol.js"></script>-->
<!--<script type="text/javascript" src="https://openlayers.org/en/v4.4.2/build/ol-debug.js"></script>-->

<!--<script type="text/javascript" src="/javascripts/map.js"></script>-->

<!-- JQuery -->
