<!DOCTYPE html>
<html lang="en">
<head>
    <% include header %>
    <link href="/stylesheets/css/material_style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container col-sm-12" id="main-content">
    <nav class="navbar navbar-inverse" id="index-navbar">
        <div class="container-fluid">
            <div class="col-sm-3" id="search-input-panel">
                <!--======================== Search panel ========================-->
                <div class="col-sm-12 input-group" id="group-search-address">
                    <input type="text" class="form-control ui" id="search-address"
                           placeholder="Введите адрес для поиска..."/>
                    <input hidden id="hiddenData">
                    <span class="input-group-btn" id="group-search-icon">
                          <button class="btn" type="button" id="search-btn"
                                  onclick="loadPanel('#search-address', '#hiddenData')">
                              <i class="glyphicon glyphicon-search"></i>
                          </button>
                    </span>
                </div>
            </div>
            <!--======================== Buttons panel ========================-->
            <div class="col-sm-8 col-sm-offset-1" id="top-panel">
                <div class="row col-sm-8" id="radios">
                    <div class="radio-inline">
                        <label><input type="radio" checked="checked" id="build_radio" name="optradio"
                                      onclick="changePanel('build')">Дата постройки</label>
                    </div>
                    <div class="radio-inline">
                        <label><input type="radio" name="optradio" id="damage_radio" onclick="changePanel('damage')">Процент износа</label>
                    </div>
                </div>
                <!--TODO: чтобы не было рваной подгрузки кнопок желательно сделать пустой контейнер на этом месте, который будет резервировать место-->
                <div class="row col-sm-9" id="button-group">
                    <!--Сразу загружаем кнопки-->
                    <script>$('#button-group').load('buttons_build_date');</script>
                </div>

                <div class="col-sm-2 col-sm-offset-1" id="right_buttons">
                    <div class="row col-sm-12 btn btn-default" id="login_button">
                        <a href="user_profile/profile.ejs" data-toggle="modal" data-target="#login-modal" id="log_link"><img src="./resources/logo.png" width="35">Вход </a>
                    </div>
                    <div class="row col-sm-12 btn btn-default" id="project_button">
                        <a data-toggle="modal" data-target="#project-modal" id="log_link">О проекте</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<!--======================== Search results ========================-->
<div class="col-sm-3" id="left-panel">

</div>
<!--======================== End main content ========================-->
<div class="map-container">
    <div id="map" class="map"></div>
</div>
<div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
</div>

<!--======================================= Login modal ==========================================-->
<div class="modal fade custom-modal" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="loginmodal-container col-sm-offset-4 col-sm-4">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div id="login_section">
            <div class="row">
                <div class="col-xs-10 col-sm-offset-1">
                    <div class="form-wrap">
                        <h1>Вход в личный кабинет</h1>
                        <form id="login-form">
                            <div class="form-group col-sm-12">
                                <input id="login" type="email" class="form-control" placeholder="Имя пользователя">
                            </div>
                            <div class="form-group col-sm-12">
                                <input type="password" id="pass" class="form-control" placeholder="Пароль">
                            </div>
                            <div class="form-group col-sm-4">
                                <input type="button" id="btn-login" class="btn btn-custom btn-block" id="login_button" onclick="movePage()" value="Войти">
                            </div>
                            <div id="login_description" class="col-sm-9">
                                <p><strong>Для входа на сайт от лица жителя:</strong></p>
                                <p>Имя пользователя: admin1@admin</p>
                                <p>Пароль: admin</p>
                                <hr>
                                <p><strong>Для входа на сайт от лица представителя Муниципалитета:</strong></p>
                                <p>Имя пользователя: admin2@admin</p>
                                <p>Пароль: admin</p>
                            </div>
                        </form>
                    </div>
                </div> <!-- /.col-xs-12 -->
            </div> <!-- /.row -->
        </div>
    </div>
</div>
<!--======================== End login modal ========================-->

<!--======================================= About project modal ==========================================-->
<div class="modal fade custom-modal" id="project-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="loginmodal-container col-sm-offset-4 col-sm-4">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2>
            О проекте
        </h2>
        <br>
        <p>Проект отражает состояние  жилого фонда и представляет собой информационный портал с интерактивной картой Вологодской области, который может быть масштабирован на другие субъекты РФ. </p>
        <p>Сервис предоставляет детальную информацию по каждому многоквартирному дому, а также дает возможность жителям и представителям муниципальной власти взаимодействовать по вопросам проведения программы капитального ремонта. </p>
        <p>Сайт наглядно демонстрирует возможность использования интерактивных карт с целью повышения качества жизни населения и формирования прозрачности проведения государственных программ. </p>
        <p>Для прототипа мы пользовались открытыми данными регионального оператора Вологодской области за период с 2016 по 2017 гг.</p>
        <p>Наша команда заинтересована в дополнении сервиса другими данными для решения задач повышения качества жилого фонда, а также в реализации различных проектов в сфере городского развития с разработкой собственных платформ</p>
        <p>Мы заинтересованы в улучшении проекта, а также в сотрудничестве с органами государственной власти, представителями частного бизнеса и фондами поддержки перспективных проектов!</p>
        <hr>
        <div>
            <p>Контакты для обратной связи:</p>
            <a href="mailto:jjsoono@gmail.com">jjsoono@gmail.com</a>
            <p>+7 996 336 00 14</p>
            <p>+7 906 085 54 28</p>
        </div>
    </div>
</div>
<!------------Modal for house search------------>
<div class="modal fade" id="house_modal" role="dialog">
    <div class="loginmodal-container col-sm-offset-2 col-sm-8">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div id="house_modal_body"></div>
    </div>
</div>
</body>
</html>

<script>
    // ======================== Home information popup ========================
    // TODO: нужно переделать логику по возможности, чтобы мы по возможности вызывали ее из map
    function loadModal(OSM_ID) {
        console.log(OSM_ID);
        $.get('/modal/' + OSM_ID, function (html) {
            //console.log("CONTENT WAS SENT: ", html.html)
            $('#popup-content').html(html.html)
        });
    }

    // ======================== Go to users/companies pages (govnocod) ========================
    function movePage() {
        if (document.getElementById('login').value === 'admin1@admin' && document.getElementById('pass').value === 'admin') {
            console.log("Go to profile!")
            document.location.href = "profile";
        }else  if (document.getElementById('login').value === 'admin2@admin' && document.getElementById('pass').value === 'admin'){
            console.log("ORG PROFILE")
            document.location.href = "organization_profile";
        }
    }

    //  ======================== Search when enter key is pressed ========================
    $("#search-address").keyup(function (event) {
        if (event.keyCode === 13) {
            $("#search-btn").click();
        }
    });

    $("#pass").keyup(function (event) {
        if (event.keyCode === 13) {
            $("#btn-login").click();
            console.log("LOGGING")
        }
    });


    // ======================== Search information ========================
    function loadPanel(search, hidden) {
        var type = $(search).attr("alt")
        var id = $(hidden).val();
        console.log('data to send: ', 'type: ' + type + 'id: ' + id)

        if (type === "дом") {
            $.get("modal/house/" + id, function (html) {
                console.log("House search")
                if(typeof html.json.osm_id != 'undefined') {
                    console.log("Loading house by osm id")
                    zoomToRegion(html.json.osm_id, 1500)
                    loadModal(html.json.osm_id)
                } else {
                    console.log("Undefined osm id")
                    $("#house_modal").modal();
                    $('#house_modal_body').html(html.html)
                }
                document.getElementById("left-panel").style.visibility = "hidden";
            })
        }

        if (type != undefined && id != undefined) {
            $.get('search/' + type + '/' + id, function (html) {
                if (html.json.osm_id != 'undefined') {
                    //console .log("THIS IS THE CODE TO SEND: ", html.html)
                    // TODO: отправить всю метаинформацию, а не только osm_id
                    $('#left-panel').html(html.html)
                    document.getElementById("left-panel").style.visibility = "visible";
                    zoomToRegion(html.json.osm_id, 1500)
                }
                console.log("rendering...")
                console.log("HERE OSM ID" + html.json.osm_id)
            })
        } else {
            var term = $(search).val()
            console.log("term: ", term)
            $.get("/addresses/" + term, function (html) {
                $('#left-panel').html(html.html)
                document.getElementById("left-panel").style.visibility = "visible";
            })
        }
    }

    $("#search-address").ready(function () {
        // call the function after the element has been loaded here
        console.log("Search address have been loaded!");
        autocomplete('#search-address', '#hiddenData');
    });


    /*===================================toggle top panels===========================*/

    // Подгружает панель кнопок в соответствии с выбранным атрибутом (активированный radio-button). И меняет
    // отображаемый слой в соответствии с этими атрибутами
    function changePanel(id) {
        if (id === 'build') {
            $('#button-group').load('buttons_build_date');
            switchLayerGroup(layersBuildYear);
        }
        else if (id === 'damage') {
            $('#button-group').load('buttons_damage_percent');
            switchLayerGroup(layersWearout);
        }
    }

    /*========================== Build autocomplete ==================================*/

    /*$( function() {
//       $.get('/addresses',function (addresses) {
           $( "#search-address" ).autocomplete({
               minLength: 3,
//               source: addresses,
               source: '/addresses',
               focus: function( event, ui ) {
                   $( "#search-address" ).val( ui.item.label );
                   return false;
               },
               select: function( event, ui ) {
                   $( "#search-address" ).val( ui.item.label );
                   $('#search-address').attr("alt",ui.item.desc);
                   $('#hiddenData').val(ui.item.value);
                   return false;
               }
           })
               .autocomplete( "instance" )._renderItem = function( ul, item ) {
               return $( "<li>" )
                   .append( "<div>" + item.label + "<br>" + item.desc + "</div>" )
                   .appendTo( ul );
           };
//       })
    } );*/

    function autocomplete(search, hidden) {
        $(search).autocomplete({
            minLength: 1,
            delay: 100,
            source: '/addresses',
            focus: function (event, ui) {
                $(search).val(ui.item.label);
                return false;
            },
            select: function (event, ui) {
                $(search).val(ui.item.label);
                $(search).attr("alt", ui.item.desc);
                $(hidden).val(ui.item.value);
                return false;
            }
        })
            .autocomplete("instance")._renderItem = function (ul, item) {
            return $("<li>")
                .append("<div>" + item.label + "</div>")
                .appendTo(ul);
        };
    }
</script>