body {
    margin: 0px;
}

.map-container {
    width: 100%;
    height: 100%; /*Fallback*/
    height: 100vh;
    position: absolute;
    z-index: -2;
}

/*=================================================General map settings===============================================*/
.map {
    max-width:100%;
    height: 100%;
    overflow: hidden;

}

.nosupport {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.notification-bar {
    width: 100%;
    height: 1.5em;
    display: table;
}

.notification-bar > div {
    height: 100%;
    display: table-cell;
    border: 1px solid grey;
    width: 34%;
    box-sizing: border-box;
    vertical-align: middle;
}

.notification-bar .message-bar {
    width: 66%;
}

.notification-bar .ol-mouse-position {
    font-family: monospace;
    text-align: center;
    position: static;
}

.toolbar {
    height: 2em;
    display: table;
    padding-left: .2em;
}

.toolbar .ol-control {
    position: static;
    display: table-cell;
    vertical-align: middle;
    padding: 0;
}

.toolbar .ol-control button {
    border-radius: 2px;
    background-color: rgba(219, 63, 63, .5);
    width: 2em;
    display: inline-block;
}

.toolbar .ol-control button:hover {
    background-color: rgba(219, 63, 63, 1);
}

/*=================================================Popup settings=====================================================*/
.ol-popup {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 590px;
    visibility: hidden;

}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "✖";
}

/*=================================================Layer Tree=========================================================*/
.layertree {
    width: 20%;
    height: calc(100% - 3.5em);
    float: left;
    box-sizing: border-box;
    border: 1px solid grey;
    border-bottom: none;
}

.layertree .layertree-buttons {
    height: 2em;
    border-bottom: 1px solid grey;
}

.layertree .layercontainer {
    position: relative;
    height: calc(100% - 2em);
    overflow-y: auto;
}

.layercontainer .layer {
    position: relative;
    border: 1px solid grey;
    border-radius: .5em;
    height: 2em;
    margin: 2px 0 2px 0;
    line-height: 2em;
}

.layer span:first-of-type {
    position: absolute;
    left: 1.5em;
    max-width: calc(100% - 1.5em);
    white-space: pre;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.layertree .ol-unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    visibility: hidden;
    -webkit-tap-highlight-color: transparent;
}

.ol-control.ol-zoom, .ol-control.ol-zoomslider {
    left: -moz-calc(100% - 33px);
    left: -webkit-calc(100% - 33px);
    left: calc(100% - 33px);
    background-color: #b5b5b5;

}

.ol-control.ol-zoomslider-thumb {
    height: 15px;
    width: 15px;
    margin: 0;
    filter: none;
    background-color: rgba(255,69,0,0.6)!important;
    border-radius: 20px;
}