@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

body {
    font-family: 'Montserrat', sans-serif;
}
/*----------------------Navigation------------------------------*/
#index-navbar {
    margin: 0;
    border-radius: 0;
    background: transparent;
    border: none;
}

#profile-navbar-header {
    background-color: #000000;
}

.navbar-inverse .navbar-nav>li>button, .navbar-inverse .navbar-nav>li>button:active  {
    background: none;
    border: none;
    border-radius: 0;
    padding-top: 15px;
    color: #6c757d;
    outline: none;
}

.navbar-inverse .navbar-nav>.active>button {
    border-bottom: 3px solid #2fa24e;
    color: #ffffff;
}

.navbar-inverse .navbar-nav>li>button:hover {
    color: #ffffff;
}

#main-content {
    padding: 0;
}

.container-fluid {
    padding: 0;
}


#top-panel {
    margin-top: 20px;
    padding: 0px;
}

/*-------------------------Search panel-------------------------*/
#group-search-address {
    margin-top: 22px;
}

#search-address {
    border-radius: 0px !important;
    background-color: #2a2a2a;
    border: none;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #d4d4d4;
    box-shadow: -5px 16px 28px rgba(0,0,0,0.7);
}

#search-btn {
    border-left: 1px ;
    border-radius: 0px;
    background-color: #2a2a2a;
    color: #d4d4d4;
    padding-bottom: 15px;
    padding-top: 13px;
    box-shadow: 5px 16px 28px rgba(0,0,0,0.7);
}

/*-------------------------Search results panel-------------------------*/
#search-input-panel {
    padding: 0;
}

#left-panel {
    border-radius: 0px !important;
    background-color: #191818;
    border: none;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #d4d4d4;
    box-shadow: -5px 16px 28px rgba(0,0,0,0.7);
    text-align: center;
    visibility: hidden;
}

#open-stat {
    color: #fff;
    border: none;
    background-color: #2fa24e;
    border-radius: 0;
    padding: 10px;
}

#info > hr {
    border-top: 1px solid #7b7b7b;
}

/*-------------------------Login panel-------------------------*/
#login_button, #logout_button, #project_button {
    background: none;
    border: none;
}

#right_buttons {
    margin-top: -37px;
}

#login_h1 {
    color: #b8b8b8;
}

#logout_button {
    float: right;
    padding-top: 15px;
}

#log_link {
    color: #ffffff;
    text-decoration: underline;
}

#login_description {
    color: #d4d4d4;
}

/*-------------------------Login Modal-------------------------*/
#login-modal {
    margin-top: 40px;
}

#login_section {
    background-color: #191818;
    box-shadow: 5px 7px 10px rgba(0,0,0,0.7);
    padding-bottom: 20px;
}

#login_section h1 {
    color: #d4d4d4;
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 20px;
}

button.close {
    margin-top: 10px;
    margin-right: 5px;
    font-size: 35px;
    color: #ffffff;
}
/*    --------------------------------------------------
	:: Inputs & Buttons
	-------------------------------------------------- */
.login-radio {
    color: #ffffff;
    margin-bottom: 10px;
}

.form-control {
    color: #d4d4d4;
    border-radius: 0;
    background-color: #191818;
    border: 1px solid #444951;
}
.btn-custom {
    color: #fff;
    background-color: #2fa24e;
    border-radius: 0;
    border: none;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

#project-modal {
    color: #d4d4d4;
    background-color: #191818;
}


/*-------------------------Years panel-------------------------*/
#radios {
    color: #ffffff;
    font-weight: lighter;
}
 .years {
     border-radius: 0px;
     box-shadow: 0 7px 12px rgba(0,0,0,0.5);
     padding-top: 2px;
     padding-bottom: 2px;
     color: #ffffff;
 }

#y1909 {
    background:#3E1B3C;
}

#y1910 {
    background:#820333;
}

#y1920 {
    background:#C9283E;
}

#y1930 {
    background:#FF6138;
}

#y1940 {
    background:#FFDD5C;
}

#y1950 {
    background: #f2ec82;
}

#y1960 {
    background:#A2F2EA;
}

#y1970 {
    background:#69F4BD;
}

#y1980 {
    background:#96ED89;
}

#y1990 {
    background:#45BF55;
}

#y2000 {
    background:#167F39;
}

#y2010 {
    background:#044C29;
}


#p0-20 {
    background:#45BF55;
}

#p21-40 {
    background:#69F4BD;
}

#p41-60{
    background:#FFDD5C;
}

#p61-80{
    background:#C9283E;
}

#p81-100 {
    background:#820333;
}


/*--------------------------USER PROFILE--------------------------------*/
#open_modal_home {
    border-radius: 0;
    background-color: #2fa24e;
    color: #ffffff;
    border: none;
}

#user_app_history.table.table-hover tr, #house_app_history.table.table-hover tr {
    cursor: pointer;
}

/*--------------------------COMMENTS--------------------------------*/
.main_comments_block {
    padding: 20px 0 0;
    /*background-color: #000000;*/
}

.comments_block {
    color: #bfbfbf;
    padding: 0;
}

.comment-header {
    display: inline-block;
}

.comment_text_area {
    background-color: inherit;
    border-color: #4d4d4d;
}

.comment_text {
    font-size: 13px;
}

.date {
    font-size: smaller;
    color: #a4a4a4;
}

.comment_hr {
    border-top: 1px solid #4d4d4d;
}

#user_send_message_comment {
    border: none;
    margin-top: 5px;
}

.author_name {
    color: #a4a4a4;
    font-size: 14px;
}
/*-------------------------TABLES-----------------------------------*/
.table>tbody>tr>td {
    border-top: 1px solid #464646;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #666;
}

/*-------------------------MODALS-----------------------------------*/
.tab-pane {
    padding: 0px;
}

#popup {
    border-radius: 0;
    border: none;
    background: none;
/*    box-shadow: 0 7px 15px rgba(0,0,0,0.5);
    background-color: #151515;*/
    color: #ffffff;
    z-index: 1000;
    padding-bottom: 15px;
    height: 420px;
    visibility: visible;
}

#popup-closer {
    color: #ccc;
    font-size: 20px;
    font-weight: lighter;
}

.modal-content {
    border-radius: 0;
    box-shadow: 0 7px 15px rgba(0,0,0,0.5);
    background-color: #151515;
    color: #ffffff;
    padding-bottom: 15px;
    overflow: auto;
    height: 500px;

}

.modal-content h4 {
    font-weight: normal;
}

.nav-tabs {
    border-bottom: 2px solid #7b7b7b;
    background: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border-width: 0;
    background: none;
}
.nav-tabs > li > a {
    border: none; color: #666;
}
.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
    border: none;
    color: #2fa24e !important;
    background: transparent;
}
.nav-tabs > li > a::after {
    content: "";
    background: #2fa24e;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
    transform: scale(1);
}
.tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}
.tab-pane {
    padding: 15px 0;
}

#request_history {
    height: 400px;
    overflow: auto;
}

/*-------------------------Profile blocks----------------------*/

#repair-content {
    background-color: #191818;
    height: 100%;
    box-shadow: 0 17px 15px rgba(0, 0, 0, 0.6);
    color: #bfbfbf;
    padding: 20px;
    overflow: auto;
    min-width: 600px;
}

.green-border {
    text-decoration: underline;
    text-decoration-color: #2fa24e;
}

#problem_description, #problem_topic {
    background-color: inherit;
    border-color: #4d4d4d;;
}



/*-------------------------Sending application----------------------*/

#send_app {
    background-color: #2fa24e;
    border-radius: 0;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    border: none;
    color: #ffffff;
}

#load_photo {
    display: inline-block;
    border-radius: 0;
    margin-top: 7px;
}

/*-------------------------MAIL----------------------*/
.mail-box {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    table-layout: fixed;
    height: 700px;
}
.mail-box aside {
    display: table-cell;
    float: none;
    height: 100%;
    padding: 0;
    vertical-align: top;
}
.mail-box .sm-side {
    background: #191818;
    border-radius: 4px 0 0 4px;
    width: 25%;
    padding-top: 20px;
}
ul.inbox-nav li button {
   text-align: left;
}
.mail-box .lg-side {
    background: #191818;
    border-radius: 0 4px 4px 0;
    color: #d4d4d4;
    width: 75%;
}

.inbox-body {
    padding: 20px;
    overflow: auto;
    height: 600px;
}

ul.inbox-nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}
ul.inbox-nav li {
    display: inline-block;
    line-height: 45px;
    width: 100%;
}
ul.inbox-nav li button {
    border: none;
    background: none;
    color: #6a6a6a;
    display: inline-block;
    line-height: 45px;
    padding: 0 20px;
    width: 100%;
}
ul.inbox-nav li button:hover, ul.inbox-nav li.active button, ul.inbox-nav li button:focus {
    background: none repeat scroll 0 0 #d5d7de;
    color: #6a6a6a;
}
ul.inbox-nav li button i {
    color: #6a6a6a;
    font-size: 16px;
    padding-right: 10px;
}
ul.inbox-nav li button span.label {
    margin-top: 13px;
}
ul.labels-info li h4 {
    color: #5c5c5e;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    text-transform: uppercase;
}
ul.labels-info li {
    margin: 0;
}
ul.labels-info li a {
    border-radius: 0;
    color: #6a6a6a;
}
ul.labels-info li a i {
    padding-right: 10px;
}

.label-danger {
    background-color: #2fa24e;
}

.table-inbox {
    border: 1px solid #4d4d4d;
    margin-bottom: 0;
}
.table-inbox tr td {
    padding: 12px !important;
}
.table-inbox tr td:hover {
    cursor: pointer;
}
.table-inbox tr td .fa-star.inbox-started, .table-inbox tr td .fa-star:hover {
    color: #f78a09;
}
.table-inbox tr td .fa-star {
    color: #d5d5d5;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}


/*-------------------------MAIL TOPIC----------------------*/
.app-sender-info {
    margin-top: 20px;
    padding: 0;
    /*border: 1px solid #4d4d4d;*/
}

#app-topic, #app-text {
    margin-top: 20px;
}

#back-input {
    background: none;
    border: none;
}

.app_photo {
    margin-top: 20px;
}

#consider_btn {
    background-color: #2fa24e;
    height: 50px;
    margin-right: 4px;
    border-radius: 17px;
}

#app-processed {
    background-color: transparent;
    border: 1px solid #4d5359;
    margin-right: 4px;
    height: 50px;
    border-radius: 17px;
}

#app-invalid {
    background-color: transparent;
    border: 1px solid #770616;
    border-radius: 17px;
    height: 50px;
}


/*--------------GALLERY--------------------*/
/* Main carousel style */
.carousel {
    width: 600px;
}

/*---------------- Indicators list style---------------- */
.article-slide .carousel-indicators {
    bottom: 0;
    left: 0;
    margin-left: 5px;
    width: 100%;
}
/* ----------------Indicators list style ----------------*/
.article-slide .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 54px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 100px;
}
/* ----------------Indicators images style ----------------*/
.article-slide .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 54px;
    left: 0;
    width: 100px;
}
/* ----------------Indicators active image style ----------------*/
.article-slide .carousel-indicators .active img {
    border: 2px solid #428BCA;
    opacity: 0.7;
}
/* ----------------Scrollbar ----------------*/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #202020;
    border: 1px solid #3c4045;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #303030;
    border-color: #6c757d;
    cursor: pointer;
    border-radius: 10px;
}

/* ---------------- Selectors ----------------*/
.selector {
    background-color: #1b1e21;
    color: #d4d4d4;
    border-color: #6c757d;
}