body {
}

.profile-panel-heading {
    margin: 0px;

}

.panel-material .panel-heading {
    background-color: black !important;
}

#profile-top {
    background-color: #333;
    height: 45px;
}

#profile-left {
    padding: 0px;
}

#profile-home-passport {
    border-color: #9d9d9d;
    text-align: center;
    padding: 0px;
    height: 100%;

}

#profile-home-info {
    margin-left: 15px;
    padding: 0px;

}

#profile-notifications {
    margin-left: 17px;
}

.panel-material {
    border-radius: 0px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.298039);
    padding: 0px;
    margin-left: 7px;

}
.inline {
    display: inline-block;
}

.modal-content {
    background-color: black !important;
}