@import url('https://fonts.googleapis.com/css?family=Roboto:light');

body {
  font-family: 'Roboto', sans-serif;
}

label {display:block;}

textarea {
  display:block;
  background-color: inherit;
  resize: none;
  overflow: auto;
  width: 310px;
}

#height {
  height: 45px;
}

#info-form {
  margin-top: 8px;
  margin-left: 0;
  opacity: 0.5;
  border: 0px;
}

#background {
  width: 100%;
  height: 100%;
  z-index: 8;
  position: absolute;
  background-image: url("back7.jpg");
  background-size: cover;
}

.modal-backdrop fade in {
  z-index: 0 !important;
}

.modal-backdrop.in {
  z-index: -3 !important;
}


#map {
}

#login_button {
  color: #333;
  background-color: transparent;
  border: none;
}

#login_button a {
  color: #ffffff;
}

#log-text {
  color: #333 !important;
}


#main-content {
  z-index: 2;
}

#profile-home-info {
  background-color:rgba(0, 0, 0, 0.8);
  color: #ffffff;
}

.profile-buttons {
  background-color: #1f2933;
  border-radius: 0px;
  width: 150px;
  height: 50px;
  font-size: 15px !important;
  border-right: #ffffff;
}

.profile-buttons :hover {
  background-color: darkred;
}

.panel .panel-default {
  border-radius: 0px;
  box-shadow: 0 0 15px rgba(0,0,0,0.9);
}

.panel-default {
  border: none !important;
}

.panel-default .panel-body{
  position: absolute;
  background-color:rgba(0, 0, 0, 0.75);
  color: #ffffff;
}

.panel-body {
  border-radius: 8px;
}

#search-address {
  background-color: #222222;
  color: #ffffff;
}

/*----------------------------------SEARCH-----------------------------------------------*/
#search-container {
  background: #ffffff;
  position:absolute;
  z-index:100;
  text-align: center;
  height: 100%;
}

#radios {
  z-index:10000;
  margin-left: 350px;
  position: absolute;
  margin-top: 5px;
}

#top-panel {
  /*background-color:rgba(0, 0, 0, 0.5);*/
  /*position: absolute;*/
  /*z-index: 1000;*/

}

#load_photo {
  background-color: transparent;
  border-color: #ffffff;
}

#radios {
 margin-left: 0;
  color:#ffffff;
}

#button-group {
  /*z-index:10000;*/
  margin-top: 27px;
  /*position: absolute;*/
  /*background-color:rgba(0, 0, 0, 0.5);*/
}

#search-panel-pad {
  padding: 0px;
  border: 0px;
}

#hz {
  padding: 0px;
}

#input-group {
  height: 5px;
}

#search-label {
  font-weight: bold;
}

.search button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
}


.search button:hover{
    border: 0;
    box-shadow: none;
}

.form-control .ui .ui-autocomplete-input {
}

.search {
  padding: 0px;
  border-radius: 4px;
}

.ui-autocomplete {
  width:1px;
}

.ui-widget-content {
  background-color: #9d9d9d;

}

#welcome {
  font-weight: 400;
  color: #ffffff;
}
.search input{
    border: 0;
    box-shadow: none;
}

.search .glyphicon-search{
    font-size: 19px;
}

#logout_button a {
  /*background-color: rgba(0, 0, 0, 100);*/
  color: #ffffff;
}

#move-further {
  border-radius: 0px;
  margin-bottom: 15px;
  margin-top: 15px;
}

#searchinput {
  margin: 0px;
  color: #f3f3f3;
  background-color: #1f2933;
  border-radius: 0px;
}

.panel-heading {
  background-color: #333 !important;
  color: #ffffff !important;
  opacity: 0.8;
}

.panel-body {
  margin-left: 0px;
  position: relative;
}

#info {
  position: relative;
  padding-left: 15px;
}

#title {
    margin-top: 20px;
    font-weight: bold;
}

.info {
  text-align: center;
  margin: 0px;
}

.info-group {
  margin-bottom: 2px;
}

#container {
  display: inline-block;
}

.input-fields input{
  border-radius: 4px;
}

.info a {
  color: #ffffff;
  text-decoration: underline;
}

.years {
  border-radius: 0;
  font-weight: 700;
  color: white;

}

#filter {
  background-color: #DC143C;
  font-weight:bold;
  margin-top: 15px;
  color:#ffffff;
  margin-left: 15px;
}

.ol-control button {
  background-color: rgba(0, 0, 0, 0.4) !important;
  width: 1.5em !important;
}

#info-modal {
  overflow: auto;
}

.modal-content {
  background-color:rgba(0, 0, 0, 0.9) !important;
  color: #ffffff;
}

.nav-tabs li a {
  color: #ffffff !important;
}

.nav-tabs li a:active {
  background-color: transparent !important;
}

.nav-tabs .active a:hover {
  background-color: transparent !important;
  color: #ffffff;
}

.table, .table td {
  border-color: black;
}

.nav-tabs .active a {
  background-color: transparent !important;
}

.nav-tabs li a:hover {
  background-color: #343434 !important;
}


.nav-tabs .active a {
  color: #ffffff !important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color:rgba(0, 0, 0, 0.1) !important;
}

#y1909 {
  background:#3E1B3C;
}

#y1910 {
  background:#820333;
}

#y1920 {
  background:#C9283E;
}

#y1930 {
  background:#FF6138;
}

#y1940 {
  background:#FFDD5C;
}

#y1950 {
  background: #f2ec82;
}

#y1960 {
  background:#A2F2EA;
}

#y1970 {
  background:#69F4BD;
}

#y1980 {
  background:#96ED89;
}

#y1990 {
  background:#45BF55;
}

#y2000 {
  background:#167F39;
}

#y2010 {
  background:#044C29;
}


#p0-20 {
  background:#45BF55;
}

#p21-40 {
  background:#69F4BD;
}

#p41-60{
  background:#FFDD5C;
}

#p61-80{
  background:#C9283E;
}

#p81-100 {
  background:#820333;
}
