<div class="btn-group " id="damage" role="group">
    <button type="button" class="btn years" onclick="toggleSubLayer(layerWearout0, layersWearout, this)" id="p0-20">0-20%</button>
    <button type="button" class="btn years" onclick="toggleSubLayer(layerWearout20, layersWearout, this)" id="p21-40">21-40%</button>
    <button type="button" class="btn years" onclick="toggleSubLayer(layerWearout40, layersWearout, this)" id="p41-60">41-60%</button>
    <button type="button" class="btn years" onclick="toggleSubLayer(layerWearout60, layersWearout, this)" id="p61-80">61-80%</button>
    <button type="button" class="btn years" onclick="toggleSubLayer(layerWearout80, layersWearout, this)" id="p81-100">81-100%</button>
</div>