<div class="btn-group " role="group" id="build">
    <button type="button" class="btn years" onclick="toggleSubLayer(layerBuild1909, layersBuildYear, this)" id="y1909">1909</button>
    <button type="button" class="btn years" onclick="toggleSubLayer(layerBuild1910, layersBuildYear, this)" id="y1910">1910</button>
    <button type="button" class="btn years" onclick="toggleSubLayer(layerBuild1920, layersBuildYear, this)" id="y1920">1920</button>
    <button type="button" class="btn years" onclick="toggleSubLayer(layerBuild1930, layersBuildYear, this)" id="y1930">1930</button>
    <button type="button" class="btn years" onclick="toggleSubLayer(layerBuild1940, layersBuildYear, this)" id="y1940">1940</button>
    <button type="button" class="btn years" onclick="toggleSubLayer(layerBuild1950, layersBuildYear, this)" id="y1950">1950</button>
    <button type="button" class="btn years" onclick="toggleSubLayer(layerBuild1960, layersBuildYear, this)" id="y1960">1960</button>
    <button type="button" class="btn years" onclick="toggleSubLayer(layerBuild1970, layersBuildYear, this)" id="y1970">1970</button>
    <button type="button" class="btn years" onclick="toggleSubLayer(layerBuild1980, layersBuildYear, this)" id="y1980">1980</button>
    <button type="button" class="btn years" onclick="toggleSubLayer(layerBuild1990, layersBuildYear, this)" id="y1990">1990</button>
    <button type="button" class="btn years" onclick="toggleSubLayer(layerBuild2000, layersBuildYear, this)" id="y2000">2000</button>
    <button type="button" class="btn years" onclick="toggleSubLayer(layerBuild2010, layersBuildYear, this)" id="y2010">2010</button>
</div>