<p><%applications%></p>
<thead>
<tr>
    <th class="col-md-1">Номер</th>
    <th class="col-md-3">Название</th>
    <th class="col-md-2">Статус</th>
</tr>
</thead>
<tbody>
<%for (var history in applications) {%>
<tr>
    <td><%=applications[history].id%></td>
    <td><%=applications[history].title%></td>
    <td><%=applications[history].status%></td>
</tr>
<%}%>
</tbody>
<script>
    /*-------------- Нажатие на заявку в таблице --------------------*/
    function addRowHandlers(tablename) {
    var table = document.getElementById(tablename);
    var rows = table.getElementsByTagName("tr");
    for (i = 1; i < rows.length; i++) {
    var currentRow = table.rows[i];
    var createClickHandler =
    function(row)
    {
        console.log("Added row handlers")
        return function() {
        var cell = row.getElementsByTagName("td")[0];
        var id = cell.innerHTML;
        console.log("Clicked: ", cell.innerHTML)
            $.get('/users/application/app/' + id, function (html) {
                $('#repair-content').html(html)
            });
    };
    };
    currentRow.onclick = createClickHandler(currentRow);
    }
    }
    /*-------------- Добавление функции выборки к двум разным таблицам --------------------*/
    addRowHandlers("user_app_history");
    addRowHandlers("house_app_history");
</script>