<div class="col-sm-12" id="repair-content">
    <!-------------------- Создание новой заявки ------------------------->
    <div class="col-sm-7">
        <label for="problem_description">Здесь вы можете оставить заявку на ремонт дома. Опишите проблему:</label>
        <br>
        <select class="selector" id="group">
            <option value="electro">Электросети</option>
            <option value="krisha">Крыша</option>
            <option value="water">Водоснабжение</option>
            <option value="gaz">Газоснабжение</option>
        </select>
        <label class="col-sm-12" for="problem_topic">Название:</label>
        <textarea class="col-sm-8" rows="1" id="problem_topic"></textarea>
        <br>
        <label class="col-sm-12" for="problem_description">Описание:</label>
        <textarea class="col-sm-12" rows="9" id="problem_description"></textarea>

        <label class="col-sm-4 col-sm-offset-8 btn btn-default" id = "load_photo" for="my-file-selector">
            <input id="my-file-selector" type="file" style="display:none"
                   onchange="$('#upload-file-info').html(this.files[0].name)">Загрузить фото
        </label>
        <span class='label label-info' id="upload-file-info"></span>
        <!--TODO SEND APPLICATION TEXT-->
        <button id="send_app" class="col-sm-4 col-sm-offset-8 btn btn-default" onclick="send_app()">Отправить заявку</button>
    </div>
    <!-------------------- История прошлых заявок пользователя------------------------->
    <div class="col-sm-5">
        <ul class='nav nav-tabs'>
            <li class='active'><a data-toggle='tab' href='#menu1'>Мои заявки</a></li>
            <li><a data-toggle='tab' href='#menu2'>Заявки дома</a></li>
        </ul>

        <div class='tab-content' id="request_history">
            <div id='menu1' class='tab-pane fade in active'>
                <table class='table table-hover' id="user_app_history"></table>
            </div>
            <!-------------------- История прошлых заявок дома ------------------------->
            <div id='menu2' class='tab-pane fade'>
                <table class='table table-hover' id="house_app_history"></table>
            </div>  <!-------------------- История прошлых заявок дома ------------------------->
        </div>  <!-------------------- Контент табов ------------------------->
    </div>  <!-------------------- История прошлых заявок ------------------------->
</div>
<script>

    $.get('/users/application/user/1', function (html) {
        $('#user_app_history').html(html)
    });
    $.get('/users/application/house/4065', function (html) {
        $('#house_app_history').html(html)
    })

/*-------------- Ошибка при отправке заявки с пустым полем/подача заявки --------------------*/
    function send_app() {
        if (document.getElementById("problem_description").value == '') {
            alert("Описание проблемы является обязательным полем")
        }else {
            //подача заявки в базу данных
            console.log("Value of group:", document.getElementById('group').value)
        $.post('/request/sendrequest', {
            description: document.getElementById("problem_description").value,
            userid: 1, group: document.getElementById('group').value, houseid: 4065, title: document.getElementById("problem_topic").value}, function (resp) {
            $('#repair-content').html("<h4>Заявка подана!</h4>")
            console.log(resp)
         })
        }
    }
</script>