<!--Блок чата-->
<div class="col-sm-5 col-sm-offset-1 main_comments_block">
    <label class="col-sm-12" for="comment_text_area_id">Чат с представителем муниципалитета:</label>
    <textarea class="col-sm-12 comment_text_area" rows="2" id="comment_text_area_id" placeholder="Введите сообщение..."></textarea>
    <button class="btn-custom col-sm-3 col-sm-offset-9" id="user_send_message_comment">Отправить</button>
    <%for (var comment in comments) {%>
    <div class="col-sm-12 comments_block">
        <div class="col-sm-12 comment-header">
            <div class="author_name">
                <%comments[comment].username%>  &#8226; <%comments[comment].date%>
            </div>
        </div>
        <div class="col-sm-12 comment_text">
            <%comments[comment].description%>
            <hr class="comment_hr">
        </div>
    </div><%}%>
</div><!--Блок чата-->
</div>