<div class="col-sm-12" id="map-content">
    <!--======================== Search panel ========================-->
    <div class="col-sm-3">
        <div class="col-sm-12 input-group" id="group-search-address">
            <input type="text" class="form-control ui" id="search-address"
                   placeholder="Введите адрес для поиска..."/>
            <input hidden id="hiddenData">
            <span class="input-group-btn" id="group-search-icon">
                  <button class="btn" type="button" id="search-btn"
                          onclick="loadPanel('#search-address', '#hiddenData')">
                      <i class="glyphicon glyphicon-search"></i>
                  </button>
            </span>
        </div>
    </div>
    <!--======================== Buttons panel ========================-->
    <div class="col-sm-8 col-sm-offset-1" id="top-panel">
        <div class="row col-sm-8" id="radios">
            <div class="radio-inline">
                <label>
                    <input type="radio" checked="checked" id="build_radio" name="optradio"
                              onclick="changePanel('build')">Дата постройки
                </label>
            </div>
            <div class="radio-inline">
                <label><input type="radio" name="optradio" id="damage_radio" onclick="changePanel('damage')">Процент износа</label>
            </div>
        </div>
        <!--TODO: чтобы не было рваной подгрузки кнопок желательно сделать пустой контейнер на этом месте, который будет резервировать место-->
        <div class="row col-sm-11" id="button-group">
            <!--Сразу загружаем кнопки-->
            <script>$('#button-group').load('buttons_build_date');</script>
        </div>
    </div>
</div>
<script>
    function changeContent(id) {
        console.log("Changing class")
        $('li').removeClass('active')
        $('#' + id).addClass('active')

        if (id == 'tab-li-main') {
            $('#profile-content').load('main_profile')
        } else if (id == 'tab-li-repair') {
            $.get('/modal/house/4065', function (html) {
                $('#profile-content').html(html.html);
                console.log(html)
            });
        } else if (id == 'tab-li-app') {
            $('#profile-content').load('applications_tab') //done
        }
    }
</script>