<!DOCTYPE html>
<html lang="ru">
    <head>
        <% include ../header %>
        <script type="text/javascript" src="js/bootstrap-filestyle.min.js"> </script>
        <link href="/stylesheets/css/material_style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container col-sm-12" id="main-content">
            <nav class="navbar navbar-inverse" id="index-navbar">
                <div class="container-fluid">
                    <div class="navbar-header col-sm-12" id="profile-navbar-header">
                        <!--========================  Navigation panel ========================-->
                        <div class="col-sm-7 col-sm-offset-4">
                            <ul class="nav navbar-nav">
                                <li id="tab-li-main" class="active"><button class="btn" onclick="changeContent('tab-li-main')" id="tab-main">Главная</button></li>
                                <li id="tab-li-repair"><button class="btn" onclick="changeContent('tab-li-repair')" id="tab-repair">Мой дом</button></li>
                                <li id="tab-li-app"><button class="btn" onclick="changeContent('tab-li-app')" id="tab-app">Заявки</button></li>
                            </ul>
                        </div>
                        <div class="row col-sm-1 btn btn-default" id="logout_button">
                            <a href="/" id="log_link">Выход </a>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="col-sm-12" id="profile-content">
                <script>$('#profile-content').load('main_profile')</script>
            </div>
        </div>
        <div class="map-container">
            <div id="map" class="map"></div>
        </div>
        <div id="popup" class="ol-popup">
            <a href="#" id="popup-closer" class="ol-popup-closer"></a>
            <div id="popup-content"></div>
        </div>
        <!------------Modal for house search------------>
        <div class="modal fade" id="house_modal" role="dialog">
            <div class="loginmodal-container col-sm-offset-2 col-sm-8">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div id="house_modal_body"></div>
            </div>
        </div>
    </body>
</html>

<script>

    function changePanel(id) {
        if (id === 'build') {
            $('#button-group').load('buttons_build_date');
            switchLayerGroup(layersBuildYear);
        }
        else if (id === 'damage') {
            $('#button-group').load('buttons_damage_percent');
            switchLayerGroup(layersWearout);
        }
    }

    function loadPanel() {
        var type = $('#search-address').attr('alt')
        var id = $('#hiddenData').val();
        console.log('data to send: ', 'type: '+ type+ 'id: '+ id )
        $('#main-content').load('search/' + type + '/' + id);
    }

    // ======================== Home information popup ========================
    // TODO: нужно переделать логику по возможности, чтобы мы по возможности вызывали ее из map
    function loadModal(OSM_ID) {
        console.log(OSM_ID);
        $.get('/modal/' + OSM_ID, function (html) {
            //console.log("CONTENT WAS SENT: ", html.html)
            $('#popup-content').html(html.html)
        });
    }

    function loadPanel(search, hidden) {
        var type = $(search).attr("alt")
        var id = $(hidden).val();
        console.log('data to send: ', 'type: ' + type + 'id: ' + id)

        if (type === "дом") {
            $.get("modal/house/" + id, function (html) {
                console.log("House search")
                if(typeof html.json.osm_id != 'undefined') {
                    console.log("Loading house by osm id")
                    zoomToRegion(html.json.osm_id, 1500)
                    loadModal(html.json.osm_id)
                } else {
                    console.log("Undefined osm id")
                    $("#house_modal").modal();
                    $('#house_modal_body').html(html.html)
                }
                document.getElementById("left-panel").style.visibility = "hidden";
            })
        }

        if (type != undefined && id != undefined) {
            $.get('search/' + type + '/' + id, function (html) {
                if (html.json.osm_id != 'undefined') {
                    //console .log("THIS IS THE CODE TO SEND: ", html.html)
                    // TODO: отправить всю метаинформацию, а не только osm_id
                    $('#left-panel').html(html.html)
                    document.getElementById("left-panel").style.visibility = "visible";
                    zoomToRegion(html.json.osm_id, 1500)
                }
                console.log("rendering...")
                console.log("HERE OSM ID" + html.json.osm_id)
            })
        } else {
            var term = $(search).val()
            console.log("term: ", term)
            $.get("/addresses/" + term, function (html) {
                $('#left-panel').html(html.html)
                document.getElementById("left-panel").style.visibility = "visible";
            })
        }
    }

    /*===================================toggle top panels===========================*/
    /*function changePanel(id) {
        if (id === 'repair') {
            $('#button-group').load('buttons_repair_date');
        }
        else if (id === 'build') {
            $('#button-group').load('buttons_build_date');
        }
        else if (id === 'damage') {
            $('#button-group').load('buttons_damage_percent');
        }
    }*/

    /*==========================build autocomplete ==================================*/

    $( function() {
        $.get('/addresses',function (addresses) {
            $( "#search-address" ).autocomplete({
                minLength: 3,
                source: addresses,
                focus: function( event, ui ) {
                    $( "#search-address" ).val( ui.item.label );
                    return false;
                },
                select: function( event, ui ) {
                    $( "#search-address" ).val( ui.item.label );
                    $('#search-address').attr("alt",ui.item.desc);
                    $('#hiddenData').val(ui.item.value);
                    return false;
                }
            })
                .autocomplete( "instance" )._renderItem = function( ul, item ) {
                return $( "<li>" )
                    .append( "<div>" + item.label + "<br>" + item.desc + "</div>" )
                    .appendTo( ul );
            };
        })
    } );
</script>