<div class="inbox-body col-sm-12">
    <button id="back-input" onclick="toInput()"><i class="fa fa-long-arrow-left col-sm-12"></i>Назад</button>
    <h5>Заявка номер <span id="app_num"><%=applications[0].id%></span></h5>
    <!-- Главный блок -->
    <div class="col-sm-12">
        <!-- Галерея -->
        <div class="col-sm-5 col-sm-offset-1 app_photo">
            <div class="carousel slide article-slide" id="article-photo-carousel">
                <!-- Обертка слайдов -->
                <div class="carousel-inner cont-slider">
                    <div class="item active">
                        <img alt="" title="" src="/stylesheets/css/p1.jpg"  width="400" height="250">
                    </div>
                    <div class="item">
                        <img alt="" title="" src="/stylesheets/css/p2.jpg"  width="400" height="250">
                    </div>
                    <div class="item">
                        <img alt="" title="" src="/stylesheets/css/p3.jpg"  width="400" height="250">
                    </div>
                    <div class="item">
                        <img alt="" title="" src="/stylesheets/css/p4.jpg"  width="400" height="250">
                    </div>
                </div>
                <!-- Индикаторы -->
                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#article-photo-carousel">
                        <img alt="" src="/stylesheets/css/p1.jpg"  width="120">
                    </li>
                    <li class="" data-slide-to="1" data-target="#article-photo-carousel">
                        <img alt="" src="/stylesheets/css/p2.jpg"  width="120">
                    </li>
                    <li class="" data-slide-to="2" data-target="#article-photo-carousel">
                        <img alt="" src="/stylesheets/css/p3.jpg"  width="120">
                    </li>
                    <li class="" data-slide-to="3" data-target="#article-photo-carousel">
                        <img alt="" src="/stylesheets/css/p4.jpg" width="120">
                    </li>
                </ol>
            </div><!-- Галерея -->
        </div> <!--Фото-->
        <!--Правый блок информации-->
        <div class="col-sm-6">
            <!--Информация отправителя-->
            <div class="app-sender-info col-sm-11">
                <!--<div class="col-sm-12" id="app-sender-name">
                    <h5>Отправитель:</h5>
                </div>
                <div class="col-sm-12" id="app-sender-address">
                    <h5>Адрес: </h5>
                </div>-->
                <div class="col-sm-12" id="app-sender-address">
                    <h5>Статус: <%=applications[0].status%></h5>
                </div>
            </div>
            <!--Описание заявки-->
            <div class="col-sm-11" id="app-text">
                <hr class="comment_hr">
                Описание:
                <p><%=applications[0].description%>
                </p>
            </div><!--Описание заявки-->
        </div><!--Правый блок информации-->
        <div class="col-sm-12" id="chat">
            <!--Блок чата--></div>
</div><!--Главный блок-->
</div>

<script>

    $.get('/request/comment/' + $('#app_num').val() + document.getElementById("app_num"), function (html) {
        $('#chat').html(html)
    });

    function toInput() {
        //TODO
        $("#profile-content").load("applications_tab")
    }

    // Остановить карусель
    $('.carousel').carousel({
        interval: false
    });

</script>