<!DOCTYPE html>
<html lang="en">
<head>
    <% include header %>
    <link href="/stylesheets/css/material_style.css" rel="stylesheet" type="text/css">
    <script src="./javascripts/Chart.js"></script>
</head>
<body>
<div class="container col-sm-12" id="main-content">
    <nav class="navbar navbar-inverse" id="index-navbar">
        <div class="container-fluid">
            <div class="col-sm-3">
                <!--======================== Search panel ========================-->
                <div class="col-sm-12 input-group" id="group-search-address">
                    <input type="text" class="form-control ui" id="search-address"
                           placeholder="Введите адрес для поиска..."/>
                    <input hidden id="hiddenData">
                    <span class="input-group-btn" id="group-search-icon">
                          <button class="btn" type="button" id="search-btn"
                                  onclick="loadPanel('#search-address', '#hiddenData', 'false')">
                              <i class="glyphicon glyphicon-search"></i>
                          </button>
                    </span>
                </div>
            </div>
            <!--======================== Buttons panel ========================-->
            <div class="col-sm-8 col-sm-offset-1" id="top-panel">
                <div class="row col-sm-8" id="radios">
                    <div class="radio-inline">
                        <label><input type="radio" checked="checked" id="build_radio" name="optradio"
                                      onclick="changePanel('build')">Дата постройки</label>
                    </div>
                    <div class="radio-inline">
                        <label><input type="radio" name="optradio" id="damage_radio" onclick="changePanel('damage')">Процент износа</label>
                    </div>
                </div>
                <!--TODO: чтобы не было рваной подгрузки кнопок желательно сделать пустой контейнер на этом месте, который будет резервировать место-->
                <div class="row col-sm-11" id="button-group">
                    <!--Сразу загружаем кнопки-->
                    <script>$('#button-group').load('buttons_build_date');</script>
                </div>

                <div class="row col-sm-1 btn btn-default" id="login_button">
                    <a href="../user_profile/profile.ejs" data-toggle="modal" data-target="#login-modal" id="log_link"><img src="./resources/logo.png" width="35">Вход </a>
                </div>
            </div>
        </div>
    </nav>
</div>

<!--======================== Search results ========================-->
<div class="col-sm-3" id="info">
        <h5 id="title">Результаты поиска</h5>
        <div class="info">
            <h3 class="concrete-numbers">32000</h3>
            <h5 class="info-group"> Население, чел. </h5>
        </div>
        <hr>
        <div class="info">
            <h3 class="concrete-numbers">500</h3>
            <h5 class="info-group"> Площадь, кв.км.</h5>
        </div>
        <hr>
        <div class="info">
            <h3 class="concrete-numbers">30</h3>
            <h5 class="info-group">Плотность населения, чел/кв.км</h5>
        </div>
        <div class="info">
            <button id="open-stat" data-toggle="modal" data-target="#stat-modal">Подробная статистика</button>
        </div>
    </div>

<!--======================== End main content ========================-->
<div class="map-container">
    <div id="map" class="map"></div>
</div>
<div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
</div>

<!--======================================= Login modal ==========================================-->
<div class="modal fade custom-modal" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="loginmodal-container col-sm-offset-4 col-sm-4">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div id="login_section">
            <div class="row">
                <div class="col-xs-10 col-sm-offset-1">
                    <div class="form-wrap">
                        <h1>Вход в личный кабинет</h1>
                        <form id="login-form">
                            <div class="form-group col-sm-12">
                                <input id="login" class="form-control" placeholder="Имя пользователя">
                            </div>
                            <div class="form-group col-sm-12">
                                <input type="password" id="pass" class="form-control" placeholder="Пароль">
                            </div>
                            <div class="form-group col-sm-5">
                                <input type="button" id="btn-login" class="btn btn-custom btn-block" id="login_button" onclick="movePage()" value="Войти">
                            </div>
                            <a href="#" class="col-sm-9 ">Забыли пароль?</a>
                        </form>
                    </div>
                </div> <!-- /.col-xs-12 -->
            </div> <!-- /.row -->
        </div>
    </div>
</div>
<!--======================== End login modal ========================-->

<!--======================================= Statistics modal ==========================================-->
<div class="modal fade custom-modal" id="stat-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="loginmodal-container col-sm-offset-4 col-sm-4">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<!--======================== End statistics modal ========================-->
</body>
</html>

<script>
    /*-------------------------Chart modal-------------------------*/

    var years = ["1900", "1910", "1920", "1930", "1940", "1950", "1960", "1970", "1990", "2000"]
    var number_of_houses = ["45", "38","12","65","43","29","33","45","31","40",]


    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: years,
            datasets: [{
                label: 'Количество многоквартирных домов',
                data: number_of_houses,
                backgroundColor:
                    'rgba(102, 255, 51, 0.3)'
                ,
                borderColor:
                    'rgba(102, 255, 51,1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

</script>

<script>
    // ======================== Home information popup ========================
    // TODO: нужно переделать логику по возможности, чтобы мы по возможности вызывали ее из map
    function loadModal(OSM_ID) {
        console.log("in load modal");
        console.log(OSM_ID);
        $.get('/modal/' + OSM_ID, function (html) {
            console.log(OSM_ID)
            $('#popup-content').html(html.html)
        });
    }

    // ======================== Go to users/companies pages (govnocod) ========================
    function movePage() {
        if (document.getElementById('login').value === 'admin1@admin' && document.getElementById('pass').value === 'admin') {
            console.log("Go to profile!")
            document.location.href = "profile";
        }else  if (document.getElementById('login').value === 'admin2@admin' && document.getElementById('pass').value === 'admin'){
            document.location.href = "organization_profile";
        }
    }

    //  ======================== Search when enter key is pressed ========================
    $("#search-address").keyup(function (event) {
        if (event.keyCode === 13) {
            $("#search-btn").click();
        }
    });

    // ======================== Search information ========================
    function loadPanel(search, hidden) {
        document.getElementById("popup").style.visibility = 'visible';

        var type = $(search).attr('alt')
        var id = $(hidden).val();
        console.log('data to send: ', 'type: ' + type + 'id: ' + id)

        if (type != undefined && id != undefined) {
            $.get('search/' + type + '/' + id, function (html) {
                if (html.json.osm_id != 'undefined') {
                    $('#left-panel').html(html.html)
                    // TODO: отправить всю метаинформацию, а не только osm_id
                    zoomToRegion(html.json.osm_id, 1500)
                }
                $('#left-panel').html(html.html)

                console.log("HERE OSM ID" + html.json.osm_id)
            })
        } else {
            var term = $(search).val()
            console.log('term: ', term)
            $.get('/addresses?term=' + term, function (addresses) {
                console.log("addresses: ", addresses)
//                TODO: В случае пользователь не выбирает элемент из список
            })
        }
        console.log("gen")
    }


    $("#search-address").ready(function () {
        // call the function after the element has been loaded here
        console.log("Search address have been loaded!");
        autocomplete('#search-address', '#hiddenData');
    });


    /*===================================toggle top panels===========================*/

    // Подгружает панель кнопок в соответствии с выбранным атрибутом (активированный radio-button). И меняет
    // отображаемый слой в соответствии с этими атрибутами
    function changePanel(id) {
        // TODO: добавить этот тип
        if (id === 'repair') {
            $('#button-group').load('buttons_repair_date');
        }
        else if (id === 'build') {
            $('#button-group').load('buttons_build_date');
            switchLayerGroup(layersBuildYear);
        }
        else if (id === 'damage') {
            $('#button-group').load('buttons_damage_percent');
            switchLayerGroup(layersWearout);
        }
    }


    /*========================== Build autocomplete ==================================*/

    /*$( function() {
//       $.get('/addresses',function (addresses) {
           $( "#search-address" ).autocomplete({
               minLength: 3,
//               source: addresses,
               source: '/addresses',
               focus: function( event, ui ) {
                   $( "#search-address" ).val( ui.item.label );
                   return false;
               },
               select: function( event, ui ) {
                   $( "#search-address" ).val( ui.item.label );
                   $('#search-address').attr("alt",ui.item.desc);
                   $('#hiddenData').val(ui.item.value);
                   return false;
               }
           })
               .autocomplete( "instance" )._renderItem = function( ul, item ) {
               return $( "<li>" )
                   .append( "<div>" + item.label + "<br>" + item.desc + "</div>" )
                   .appendTo( ul );
           };
//       })
    } );*/


    function autocomplete(search, hidden) {
//       $.get('/addresses',function (addresses) {
        $(search).autocomplete({
            minLength: 1,
            delay: 100,
//               source: addresses,
            source: '/addresses',
            focus: function (event, ui) {
                $(search).val(ui.item.label);
                return false;
            },
            select: function (event, ui) {
                $(search).val(ui.item.label);
                $(search).attr("alt", ui.item.desc);
                $(hidden).val(ui.item.value);
                return false;
            }
        })
            .autocomplete("instance")._renderItem = function (ul, item) {
            return $("<li>")
                .append("<div>" + item.label + "</div>")
                .appendTo(ul);
        };
    }

    //       })

    function searchAddress() {
        var address = $("#search-address").val();
        $.get('/search', {address: address}, function (response) {
//            TODO : add err to response
            var html = response.html;
//            TODO: replace searc-container by left-panel- 1/-2 depending on the address
//            $('#search-container').remove();
        })
    }

    function searchPan() {
        var type = $('#search_input').attr('alt')
        var id = $('#hiddenData').val();
        console.log('data to send: ', 'type: ' + type + 'id: ' + id)
        $('#main-content').load('search/' + type + '/' + id);
    }

</script>