<div class="panel panel-default">
    <div class="panel-body">
        <h6 id="search-label">Поиск</h6>
        <div class="search">
            <div class="input-group stylish-input-group">
                <input type="text" class="form-control ui" id="search-address"/>
                <input hidden id="hiddenData">
                <span class="input-group-btn">
                      <button class="btn" type="button" id="search-btn" onclick="loadPanel('#search-address', '#hiddenData')">
                          <i class="glyphicon glyphicon-search"></i>
                      </button>
                </span>
            </div>
        </div>
        <div id="info">
            <h5 id="title"><%=address%></h5>
            <hr>
            <% if(repair_date_start<100) {%>

            <%}%>
        </div>
            <%if (repair_date_start>100){%>
        <div class="info">
            <h5 class="info-group"> Дата постановки на ремонт</h5>
            <h3 class="concrete-numbers"><%=repair_date_start%> </h3>
            <hr>
        </div>
        <%}%>
        <%if (planning_repairment_start<100){%>
        <%}%>
        <%if (planning_repairment_start>100){%>
        <div class="info">
            <h5 class="info-group">Период планируемого ремонта</h5>
            <h3 class="concrete-numbers"><%=planning_repairment_start%>-<%=planning_repairment_end%> </h3>
        </div>
        <%}%>
    </div>
</div>
<script>

    $("#search-address").keyup(function(event) {
        if (event.keyCode === 13) {
            $("#search-btn").click();
        }
    });

    $("#top-left").ready(function() {
        // call the function after the element has been loaded here
        console.log("Search address have been loaded!");
        autocomplete('#search-address', '#hiddenData');
    });

</script>