<div class="row col-sm-3" id="left-panel">
    <div class="panel panel-default">
        <div class="panel-body">
            <h6 id="search-label">Поиск</h6>
            <div class="search">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" value="<%= data.fullAddress%>"  id="search-address"/>
                    <span class="input-group-btn">
                      <button class="btn btn-info" onclick="searchAddress()" type="button">
                          <i class="glyphicon glyphicon-search"></i>
                      </button>
                    </span>
                </div>
            </div>
            <div id="info">
                <h5 id="title"><%= data.lastAddressItem %></h5>
                <hr>
                <div class="info">
                    <h3 id="population" class="concrete-numbers"> <%= data.population%> </h3>
                    <h5 id="people-text" class="info-group"> Население </h5>
                </div>
                <hr>
                <div class="info">
                    <h3  class="area"> <%= data.area %> </h3>
                    <h5 class="info-group"> Площадь </h5>
                </div>
                <hr>
                <h5>Фильтр</h5>
                <div class="form-group">
                    <div class="input-fields">
                        <label for="from">По дате постройки:</label>
                            <div class="col-sm-6">
                                <input type="text"  id="buildFrom" class="form-control" placeholder="от" />
                            </div>
                            <div class="col-sm-6">
                                <input type="text" id="buildTo" class="form-control" placeholder="до" />
                            </div>
                    </div>
                    <div class="input-fields">
                        <label for="repairedFrom">По дате кап ремонта:</label>
                            <div class="col-sm-6">
                                <input type="text" id="repairedFrom" class="form-control" placeholder="от" />
                            </div>
                            <div class="col-sm-6">
                                <input type="text" id="repairedTo" class="form-control" placeholder="до" />
                            </div>
                    </div>
                    <button class="btn" id="filter" onclick="applyFilter()">Фильтр</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function searchAddress() {
        var address = $("#search-address").val();
        $.get('/search', {address: address}, function (html) {

        })
    }

    function applyFilter() {

    }
</script>