<!DOCTYPE html>
<html lang="en">
<head>
<%include ../main_views/material_header.ejs%>
</head>
<body>

<!--======================== Start main content ========================-->



<!--======================== End main content ========================-->
<div class="map-container">
    <div id="map" class="map"></div>
</div>
<div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
</div>

</body>
</html>