<table class="table table-inbox table-hover" id="inbox">
    <tbody>
    <p><%applications%></p>
    <%for (var appl in applications) {%>
        <tr>
            <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
            <td class="view-message dont-show">Заявка №<span class="application_id"><%=applications[appl].id%></span></td>
            <td class="view-message dont-show"><%=applications[appl].user_name%></td>
            <td class="view-message"><%=applications[appl].title%></td>
            <td class="view-message inbox-small-cells"></td>
            <td class="view-message text-right"><%=applications[appl].last_upd%></td>
            <%}%>
        </tr>
    </tbody>
</table>
<script>
    /*---------------------------- Обработчик кликов на заявку в таблице ------------------------------*/
    function addRowHandlers() {
        var table = document.getElementById("inbox");
        var rows = table.getElementsByTagName("tr");
        for (i = 0; i < rows.length; i++) {
            var currentRow = table.rows[i];
            var createClickHandler =
                function(row)
                {
                    return function() {
                        var cell = row.getElementsByTagName("td")[1];
                       var id = cell.getElementsByTagName("span")[0].innerHTML
                        console.log("ID:", id);
                        $.get('/request/application/' + id, function (html) {
                            $('.lg-side').html(html);
                        })
                    };
                };
            currentRow.onclick = createClickHandler(currentRow);
        }
    }
    window.onload = addRowHandlers();
</script>