<!-- Главный блок -->
<div class="col-sm-12" id="mail-applications">
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <!-- Главное окно входящих заявок -->
    <div class="mail-box">
        <!-- Правая панель переключения типов заявок -->
        <aside class="sm-side">
            <!-- Типы заявок -->
            <ul class="inbox-nav inbox-divider">
                <li id="input-btn" class="active">
                    <button onclick="changeClass('input-btn')"><i class="fa fa-inbox"></i> Не рассмотрено</button>
                </li>
                <li id="processed-btn">
                    <button onclick="changeClass('processed-btn')"><i class="fa fa-envelope-o"></i>На рассмотрении</button>
                </li>
                <li id="inprocess-btn">
                    <button onclick="changeClass('inprocess-btn')"><i class="fa fa-bookmark-o"></i>В процессе</button>
                </li><li id="checked-btn">
                    <button onclick="changeClass('checked-btn')"><i class="fa fa-check"></i>Завершено</button>
                </li>
                </li><li id="not-accepted-btn">
                    <button onclick="changeClass('not-accepted-btn')"><i class="fa fa-check"></i>Не относится к программе</button>
                </li>
            </ul> <!-- Типы заявок -->
        </aside> <!-- Правая панель переключения типов заявок -->
        <aside class="lg-side">
            <div class="inbox-body">
                <script>
                    $.get('request/status/process/5', function (html) {
                        $('.inbox-body').html(html);
                    })
                </script>
            </div>
        </aside>
    </div>
</div>
<script>
    /*------- Переключение типов заявок ---------*/
    function changeClass(id) {
        console.log("Changing class to", id);
        $('ul.inbox-nav>li').removeClass('active');
        $('#' + id).addClass('active');

        if (id == 'input-btn') {
            $.get('request/status/process/5', function (html) {
                $('.inbox-body').html(html);
            })
        } else if (id == 'checked-btn') {
            $.get('request/status/process/4', function (html) {
                $('.inbox-body').html(html);
            })
        } else if (id == 'inprocess-btn') {
            $.get('request/status/process/3', function (html) {
                console.log("INPUT")
                $('.inbox-body').html(html);
            })
        } else if (id == 'processed-btn') {
            $.get('request/status/process/2', function (html) {
                $('.inbox-body').html(html);
            })
        } else if (id == 'not-accepted-btn') {
            $.get('request/status/process/1', function (html) {
                $('.inbox-body').html(html);
            })
        }
    }
</script>
