<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../header %>
        <script type="text/javascript" src="js/bootstrap-filestyle.min.js"> </script>
        <link href="/stylesheets/css/material_style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!-------------- Главный контейнер ----------------->
        <div class="container col-sm-12" id="main-content">
            <!-------------- Навигация ----------------->
            <nav class="navbar navbar-inverse" id="index-navbar">
                <div class="container-fluid">
                    <div class="navbar-header col-sm-12" id="profile-navbar-header">
                        <div class="col-sm-7 col-sm-offset-4">
                            <ul class="nav navbar-nav">
                                <li id="tab-li-main" class="active"><button class="btn" onclick="changeContent('tab-li-main')" id="tab-main">Главная</button></li>
                                <li id="tab-li-app"><button class="btn" onclick="changeContent('tab-li-app')" id="tab-app">Заявки</button></li>
                            </ul>
                        </div>
                        <!-------------- Выход из профиля ----------------->
                        <div class="row col-sm-1 btn btn-default" id="logout_button">
                            <a href="/" id="log_link">Выход </a>
                        </div>
                    </div>
                </div>
            </nav> <!-------------- Навигация ----------------->
            <div class="col-sm-12" id="profile-content">
                <div class="col-sm-12" id="map-content">
                    <!-------------- Поисковая панель ----------------->
                    <div class="col-sm-3">
                        <div class="col-sm-12 input-group" id="group-search-address">
                            <input type="text" class="form-control ui" id="search-address"
                                   placeholder="Введите адрес для поиска..."/>
                            <input hidden id="hiddenData">
                            <span class="input-group-btn" id="group-search-icon">
                                  <button class="btn" type="button" id="search-btn"
                                          onclick="loadPanel('#search-address', '#hiddenData', 'false')">
                                      <i class="glyphicon glyphicon-search"></i>
                                  </button>
                            </span>
                        </div>
                    </div>
                    <!-------------- Панель кнопок ----------------->
                    <div class="col-sm-8 col-sm-offset-1" id="top-panel">
                        <div class="row col-sm-8" id="radios">
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" checked="checked" id="build_radio" name="optradio" onclick="changePanel('build')">Дата постройки
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label><input type="radio" name="optradio" id="damage_radio" onclick="changePanel('damage')">Процент износа</label>
                            </div>
                        </div>
                        <!--TODO: чтобы не было рваной подгрузки кнопок желательно сделать пустой контейнер на этом месте, который будет резервировать место-->
                        <div class="row col-sm-11" id="button-group">
                            <!--Сразу загружаем кнопки-->
                            <script>$('#button-group').load('buttons_build_date');</script>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-------------- Главный контейнер ----------------->

        <!-------------- Карта ----------------->
        <div class="map-container">
            <div id="map" class="map"></div>
        </div>
        <!-------------- Всплывающие окна на карте ----------------->
        <div id="popup" class="ol-popup">
            <a href="#" id="popup-closer" class="ol-popup-closer"></a>
            <div id="popup-content"></div>
        </div>
    </body>
</html>

<script>

    // ======================== Home information popup ========================
    // TODO: нужно переделать логику по возможности, чтобы мы по возможности вызывали ее из map
    function loadModal(OSM_ID) {
        console.log(OSM_ID);
        $.get('/modal/' + OSM_ID, function (html) {
            //console.log("CONTENT WAS SENT: ", html.html)
            $('#popup-content').html(html.html)
        });
    }
    /*--------------- Динамическое переключение между окнами ----------------*/
    function changeContent(id) {
        console.log("Changing class")
        $('.navbar-nav > li').removeClass('active')
        $('#' + id).addClass('active')
        if (id == 'tab-li-main') {
            console.log('loading map')
            $('#profile-content').load('map-content')
        } else if (id == 'tab-li-app') {
            $('#profile-content').load('mail_mun')
        }
    }

    $(":file").filestyle();

    /*--------------- Поиск ----------------*/
    function loadPanel() {
        var type = $('#search-address').attr('alt')
        var id = $('#hiddenData').val();
        console.log('data to send: ', 'type: '+ type+ 'id: '+ id )
        $('#main-content').load('search/' + type + '/' + id);
    }

    /*--------------- Переключение кнопочных панелей ----------------*/
    function changePanel(id) {
        if (id === 'build') {
            $('#button-group').load('buttons_build_date');
            switchLayerGroup(layersBuildYear);
        }
        else if (id === 'damage') {
            $('#button-group').load('buttons_damage_percent');
            switchLayerGroup(layersWearout);
        }
    }

    /*==========================build autocomplete ==================================*/

    $( function() {
        $.get('/addresses',function (addresses) {
            $( "#search-address" ).autocomplete({
                minLength: 3,
                source: addresses,
                focus: function( event, ui ) {
                    $( "#search-address" ).val( ui.item.label );
                    return false;
                },
                select: function( event, ui ) {
                    $( "#search-address" ).val( ui.item.label );
                    $('#search-address').attr("alt",ui.item.desc);
                    $('#hiddenData').val(ui.item.value);
                    return false;
                }
            })
                .autocomplete( "instance" )._renderItem = function( ul, item ) {
                return $( "<li>" )
                    .append( "<div>" + item.label + "<br>" + item.desc + "</div>" )
                    .appendTo( ul );
            };
        })
    } );
</script>