<div class="inbox-body">
        <!--Главный блок-->
        <div class="col-sm-9">
            <!--Панель управления-->
            <div class="col-sm-12">
                <input type="hidden" id="app_num" value=<%=applications[0].id%>>
                <button class="btn-default btn-custom col-sm-3" id="consider_btn" onclick="changeStatus('consider')">На рассмотрении</button>
                <button class="btn-default btn-custom col-sm-3" id="app-processed" onclick="changeStatus('processed')">В процессе ремонта</button>
                <button class="btn-danger btn-custom col-sm-3" id="app-invalid" onclick="changeStatus('invalid')">Пометить как невалидна</button>
            </div> <!--Панель управления-->
            <!--Информация отправителя-->
            <div class="app-sender-info col-sm-12">
                <div class="col-sm-12" id="app-sender-name">
                    <h5>Отправитель: Андрей Юрьевич</h5>
                </div>
                <div class="col-sm-12" id="app-sender-address">
                    <h5>Адрес: ул. Маяковского, дом 20</h5>
                </div>
            </div>
            <!--Описание заявки-->
            <div class="col-sm-12" id="app-text">
                Описание:
                <p><%=applications[0].description%></p>
            </div><!--Описание заявки-->
            <div class="col-sm-12 app_photo">
            Фото:
                <div class="carousel slide article-slide" id="article-photo-carousel">
                    <!--Обертка слайдов-->
                    <div class="carousel-inner cont-slider">

                        <div class="item active">
                            <img alt="" title="" src="/stylesheets/css/p1.jpg"  width="600" height="400">
                        </div>
                        <div class="item">
                            <img alt="" title="" src="/stylesheets/css/p2.jpg"  width="600" height="400">
                        </div>
                        <div class="item">
                            <img alt="" title="" src="/stylesheets/css/p3.jpg"  width="600" height="400">
                        </div>
                        <div class="item">
                            <img alt="" title="" src="/stylesheets/css/p4.jpg"  width="600" height="400">
                        </div>
                    </div>
                    <!--Индикаторы снизу-->
                    <ol class="carousel-indicators">
                        <li class="active" data-slide-to="0" data-target="#article-photo-carousel">
                            <img alt="" src="/stylesheets/css/p1.jpg"  width="250" height="180">
                        </li>
                        <li class="" data-slide-to="1" data-target="#article-photo-carousel">
                            <img alt="" src="/stylesheets/css/p2.jpg"  width="250" height="180">
                        </li>
                        <li class="" data-slide-to="2" data-target="#article-photo-carousel">
                            <img alt="" src="/stylesheets/css/p3.jpg"  width="250" height="180">
                        </li>
                        <li class="" data-slide-to="3" data-target="#article-photo-carousel">
                            <img alt="" src="/stylesheets/css/p4.jpg" width="250" height="180">
                        </li>
                    </ol>
                </div>
            </div> <!--Фото-->
            <!--Блок чата-->
            <div class="col-sm-12 main_comments_block">
                <label class="col-sm-12" for="comment_text_area_id">Чат с представителем муниципалитета:</label>
                <textarea class="col-sm-12 comment_text_area" rows="2" id="comment_text_area_id" placeholder="Введите сообщение..."></textarea>
                <button class="btn-custom col-sm-3 col-sm-offset-9" id="user_send_message_comment">Отправить</button>
            </div><!--Комментарии-->
        </div>
    </div><!--Главный блок-->
</div>

<script>

    function changeStatus(action) {
        var id = document.getElementById('app_num').value
        if (action === 'consider') {
            $.post('/request/changestatus', {id: id, status: '2'}, function () {
                changeClass('processed-btn')
            })
        } else  if (action === 'processed') {
            console.log("Changing to processed app number: ", id)
            $.post('/request/changestatus', {id: id, status: '3'}, function () {
                changeClass('inprocess-btn')
            })

        } else  if (action === 'invalid') {
            $.post('/request/changestatus', {id: id, status: '1'}, function () {
                changeClass('not-accepted-btn')
            })
        }
    }

    // Stop carousel
    $('.carousel').carousel({
        interval: false
    });
</script>